.limiter {
  width: 960px;
  margin: 0px auto;
  }

body {
  background-color: #1d354c;
  }

/**
 * Header styles
 */
#header {
  height: 60px;
  background-color: #11202c;
  -moz-box-shadow: 0px 0px 20px #000;
  -webkit-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
  position: relative;
  z-index: 1;
  }
#header .limiter {
  position: relative;
  clear: both;
  }
#header h2,
#header .navigation {
  float: left;
  height: 60px
  }
#header .tagline {
  position: absolute;
  left: 120px;
  top: 15px;
  }
#header .tagline div {
  line-height: 15px;
  width: 220px;
  color: #5a2;
  }
#header .tagline div.index {
  color: #fff;
  }
#header .navigation {
  position: absolute;
  left: 320px;
  }
#header .navigation li {
  float: left;
  height: 60px;
  line-height: 60px;
  width: 74px;
  text-align: center;
  border-left: 1px solid #11202c;
  background: #5a2;
  }

#header .navigation li.method {
  width: 89px;
  }

#header .navigation li a {
  text-decoration: none;
  font-weight: bold;
  color: #11202c;
  }

#header .search {
  position: absolute;
  left: 660px;
  top: 15px;
  }

.search input {
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  }

.search input.textfield {
  -moz-box-shadow: inset 0px 0px 3px #000;
  -webkit-box-shadow: inset 0px 0px 3px #000;
  box-shadow: inset 0px 0px 3px #000;
  }

.search input.button {
  background-color: #5a2;
  }

/**
 * Cabinet and drawer styles
 */
#cabinet {
  position: relative;
  width: 635px;
  padding: 10px 0px;
  background-color: #fff;
  -moz-box-shadow: 0px -20px 20px #000;
  -webkit-box-shadow: 0px -20px 20px #000;
  box-shadow: 0px -20px 20px #000;
  }
.drawer {
  z-index: -1;
  left: 315px;
  top: 20px;
  width: 325px;
  position: absolute;
  background: #fff;
  border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
  }
.drawer .handle {
  height: 20px;
  line-height: 20px;
  text-align: right;
  padding-right: 20px;
  background-color: #ebebeb;
  border-radius: 0px 3px 0px 0px;
  -moz-border-radius: 0px 3px 0px 0px;
  -webkit-border-radius: 0px 3px 0px 0px;
  }
.drawer-content {
  padding: 10px 20px 20px 40px;
  }

#empty-drawer.open,
#default-drawer {
  left: 635px;
  }

/**
 * tabs
 */
.tab-wrapper ul.tabs {
  background-color: #ebebeb;
  width: 625px;
  float: left;
  height: 30px;
  padding: 0px 0px 0px 10px;
  }

.tab-wrapper ul.tabs li {
  float: left;
  padding: 0px 5px;
  margin-right: 5px;
  line-height: 30px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 0px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  background-color: #c6c6c6;
  }

.tab-wrapper ul.tabs li.active {
  background-color: #fff;
  }

.tab-wrapper .tab-content {
  display:none;
  }

.tab-wrapper .tab-content.active {
  display:block;
  }

/**
 * Country pages
 */
#view .country-profile {
  background-color: #ebebeb;
  }
.country-profile .tab-content {
  background-color: #fff;
  }
.country-profile table {
  width: 100%;
  table-layout: fixed;
  }

.country-profile thead tr {
  text-align: left;
  }
.country-profile tbody tr {
  border-bottom: 1px solid #ebebeb;
  }
.country-profile tr {
  line-height: 25px;
  }
.country-profile tr.heading {
  border-bottom: 1px solid #c6c6c6;
  line-height: 35px;
  }
.country-profile th.name,
.country-profile td.name {
  width: 360px;
  padding-left: 20px;
  }

/**
 * Bones-admin : popups.
 */

.AdminPopup .attribute .description {
  color: #999;
  margin: 5px 0;
  font-size: 11px;
  }
.AdminPopup .attribute input {
  width: 400px;
  }
.AdminPopup .attribute .path-prefix {
  padding-top: 2px;
  padding-right: 5px;
  float: left;
  }
.AdminPopup .attribute.id input {
  width: 340px;
  }
#bonesAdminPopup .AdminPopup .buttons {
  padding: 15px 20px;
  }

