/**
 * Bones-admin : popups.
 */

.AdminPopup .attribute .description {
  color: #999;
  margin: 5px 0;
  font-size: 11px;
  }
.AdminPopup .attribute input {
  width: 400px;
  }
.AdminPopup .attribute .path-prefix {
  padding-top: 2px;
  padding-right: 5px;
  float: left;
  }
.AdminPopup .attribute.id input {
  width: 340px;
  }
#bonesAdminPopup .AdminPopup .buttons {
  padding: 15px 20px;
  }

