.limiter {
  width: 960px;
  margin: 0px auto;
  }

body {
  background-color: #1d354c;
  color: #434343;
  }

/*** Typography ***/
@font-face {
  font-family: 'AlternateGothicLTNo3Regular';
  src: url('../fonts/alternate_gothic-webfont.eot');
  src: url('../fonts/alternate_gothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/alternate_gothic-webfont.woff') format('woff'),
    url('../fonts/alternate_gothic-webfont.ttf') format('truetype'),
    url('../fonts/alternate_gothic-webfont.svg#AlternateGothicLTNo3Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  }

/* Header styles */
h1,h2,h3,h4,h5 {
  font-family: 'AlternateGothicLTNo3Regular',"HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Arial Narrow", "Arial", sans-serif;
  font-weight: 100;
  color: #434343;
  padding-top: 15px;
  padding-bottom: 15px;
  clear: left;
  } 
h2 {
  font-size: 28px;
  border-bottom: #c6c6c6 1px solid;
  margin-bottom: 15px;
  }
h3 {
  font-size: 20px;
  }
h4 {
  font-weight: normal;
  font-size: 18px;
  }
.drawer h4 {
  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 13px;
  }

/* Use this class for getting left/right padding */
.container {
  padding-left: 15px;
  padding-right: 15px;
  }
  /* Get out of the shadows. */
  .slider .container {
    padding-left: 20px;
    }

.label {
  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 12px;
  font-weight: normal;
  color: #434343;
}

.button {
  font-size: 10px;
  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #434343;
}
  .button.green {
    display: block;
    color: #fff;
    background-color: #a5e184;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    line-height: 10px;
    width: 110px;
    float: right;
    margin: 10px 10px 0 0;
  }
  .button:hover{text-decoration: none;}
  .button.green:hover {
  background-color: #8AD35E;
  }
  
p {
  font-family: 'HelveticaNeue-Normal', "HelveticaNeueNormal", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  color: #434343;
  padding: 0 0 15px 0;
  }

a {
  color: #8AD35E;
  text-decoration: none;
  }

a:hover {
 color: #5A2; 	
 text-decoration: underline;
  }

ul {
  padding-bottom: 15px;
  }

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  }

/**
 * Documents.
 */
.document ul {
  padding-bottom: 15px;
}
.document ul li {
  margin: 0 5px;
  list-style: disc inside;
  }
.document h2 {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  }

/**
 * Icons.
 */
.icon-outlook {
  height: 15px;
  width: 15px;
  text-indent: -9999px;
  background-image: url('../images/sprite.png');
  background-repeat: no-repeat;
  }

  .icon-outlook-up { background-position: 0px -430px; }
  .icon-outlook-down { background-position: 0px -410px; }
  /**
   * TODO: get a new icon for the '=' sign.
   */
  .icon-outlook-same { background-position: 0px -389px; }

/**
 * Tabs
 */
ul.tabs.level-1 li a {
  text-align: center;
  font-family: 'AlternateGothicLTNo3Regular',"HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Arial Narrow", "Arial", sans-serif;
  color: #434343;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,.5);
  float: left;
  width: auto;
  padding: 0px 20px;
  margin-left: 10px;
  line-height: 30px;
  background-color: #c6c6c6;
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  }
ul.tabs li a.active {
  background-color: #fff;
  }
.tab-wrapper .tab-wrapper {
  background-color: #fff;
  padding: 10px 10px;
  clear: left;
  }
  ul.tabs.level-2 {
    float: left;
    padding: 0px 0px;
    margin-right: 10px;
    }
    ul.tabs.level-2 li {
      float: left;
      margin-right: 1px;
      }
    ul.tabs.level-2 li a {
      color: #fff;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: bold;
      padding: 0 5px;
      display: block;
      line-height: 20px;
      background-color: #c6c6c6;
      border-bottom: 1px solid #a8a8a8;
      }
      ul.tabs.level-2 li a:hover {text-decoration: none;}
    ul.tabs.level-2 li:first-child a {
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-bottomleft: 3px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      }
    ul.tabs.level-2 li:last-child a {
      -moz-border-radius-topright: 3px;
      -moz-border-radius-bottomright: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      }
    ul.tabs.level-2 li a.active {
      border-top: 1px solid #8C8C8C;
      background-color: #a8a8a8;
      line-height: 19px;
      }

/**
 * Header styles
 */
#header {
  height: 60px;
  background-color: #11202c;
  -moz-box-shadow: 0px 0px 20px #000;
  -webkit-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
  position: relative;
  z-index: 2;
  }
#header .limiter {
  position: relative;
  clear: both;
  }
#header h1,
#header .navigation {
  float: left;
  height: 60px
  }
  #header h1 a.logo {
    display: block;
    position: absolute;
    top:15px;
    left: 10px;
    text-indent: -9999px;
    width: 80px;
    height: 25px;
    background: url('../images/sprite.png') 0px -50px no-repeat;
    }

#header .tagline {
  position: absolute;
  left: 100px;
  top: 15px;
  font-family: 'HelveticaNeue-Bold', "HelveticaNeueBold", Helvetica, Arial, sans-serif;  
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  width: 100px;
  color: #5a2;
  }

#header .navigation {
  position: absolute;
  left: 300px;
  top: 10px;
  }
  #header .navigation li {
    float: left;
    }
    #header .navigation li a {
      float: left;
      height: 45px;
      width: 65px;
      margin-right: 10px;
      text-indent: -9999px;
      background-image: url('../images/sprite.png');
      background-repeat: no-repeat;
      }
    #header .navigation li a.map { background-position: 0px -85px;}
    #header .navigation li a.map.active { background-position: 0px -130px;}
    #header .navigation li a.map.active:hover { background-position: 0px -130px;}
    #header .navigation li a.map:hover { background-position: 0px -175px;}
    #header .navigation li a.rank { background-position: -75px -85px; width: 90px;}
    #header .navigation li a.rank.active { background-position: -75px -130px; width: 90px;}
    #header .navigation li a.rank.active:hover { background-position: -75px -130px; width: 90px;}
    #header .navigation li a.rank:hover { background-position: -75px -175px; width: 90px;}
    #header .navigation li a.matrix { background-position: -175px -85px; width: 80px;}
    #header .navigation li a.matrix.active { background-position: -175px -130px; width: 80px;}
    #header .navigation li a.matrix.active:hover { background-position: -175px -130px; width: 80px;}
    #header .navigation li a.matrix:hover { background-position: -175px -175px; width: 80px;}
    #header .navigation li a.about { background-position: -265px -85px; width: 75px;}
    #header .navigation li a.about.active { background-position: -265px -130px; width: 75px;}
    #header .navigation li a.about.active:hover { background-position: -265px -130px; width: 75px;}
    #header .navigation li a.about:hover { background-position: -265px -175px; width: 75px;}

#header .org a {
  display: block;
  position: absolute;
  left: 850px;
  top: 10px;
  width: 110px;
  height: 40px;
  background: url('../images/sprite.png') 0px 0px no-repeat;
  text-indent: -9999px;
  }

/*** Top Footer styles ***/
#footer1 {
 height: 60px;
 font-size: 20px;
 background-color: #11202C;
 -moz-box-shadow: 0px 0px 20px #000;
 -webkit-box-shadow: 0px 0px 20px #000;
 box-shadow: 0px 0px 20px #000;
 border-bottom: #1d354c 1px solid;
 }

#footer1 a {
 float: left;
 width: 630px;
 height: 20px;
 background: #1d354c url('../images/sprite.png') 10px -860px no-repeat;
 color: white;
 text-indent: 35px;
 margin: 15px 0px 15px 0px;
 padding: 5px;
 border-radius: 4px;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
}

  #footer1 a:hover {background: #21405d url('../images/sprite.png') 10px -860px no-repeat;}

#footer1 a.downloadbutton .description {
 float: right;
 text-transform: none;
 font-weight: normal;
 display: block;
 font-size: 12px;
 padding-right: 5px;
}

#footer1 .search {
 margin: 15px 0px 15px 20px;
 float: left;
  }
  #footer1 .search input {
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    }
  #footer1 .search input.textfield {
    background: url('../images/sprite.png') 5px -627px no-repeat;
    padding-left: 25px;
    width: 210px;
    -moz-box-shadow: inset 0px 0px 4px #000;
    -webkit-box-shadow: inset 0px 0px 4px #000;
    box-shadow: inset 0px 0px 4px #000;
    background-color: #fff;
    }
  #footer1 .search input.button {
    margin-left: 8px;
    color: #fff;
    -webkit-box-shadow: 0 1px 0 0 black;
    -moz-box-shadow: 0 1px 0 0 black;
    box-shadow: 0 1px 0 0 black;
    background-color: #1d354c;
    }
  #footer1 .search input.button:hover {background-color: #21405d;}
  
/*** Bottom Footer Styles ***/

#footer2 {
 height: 150px;
 background-color: #11202C;
 }
/** Feedback tab **/

#feedbacktab {
  position: fixed;
  color: white:hover;
  width: 300px;
  margin-right: 20px;
  right: 0px;
  height: 250px;
  bottom: -220px;
  z-index: 2;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-transition:all 0.3s ease-in-out;
}

#feedbacktab.open {
  bottom: 0px;
}

#feedbacktab .content {
  clear: both;
  display: block;
  width: 300px;
  padding-bottom: 20px;
  background: #fff;
  -moz-border-radius: 4px 0px 0px 0px;
  -webkit-border-radius: 4px 0px 0px 0px;
  }
  #feedbacktab .content p { padding: 10px 10px 5px 10px; }


#feedbacktab .button.green {
  float: right;
  padding: 0 15px 0 15px;
  width: 50px;
  margin-top: 0;
  line-height: 30px;
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  color: #1d354c;
  cursor: pointer;
}

/**
 * Cabinet and drawer styles
 */
#cabinet {
  position: relative;
  z-index: 1;
  width: 960px;
  }
.bonesAdminEditing #cabinet {
  z-index: auto;
}
#cabinet .top {
  float: left;
  width: 640px;
  min-height: 500px;
  background-color: #fff;
  -moz-box-shadow: 0px -20px 20px #000;
  -webkit-box-shadow: 0px -20px 20px #000;
  box-shadow: 0px -20px 20px #000;
}
#cabinet .drawer {
  padding-bottom: 30px;
  position: absolute;
  z-index: -1;
  left: 50%;
  margin-left: -160px;
  top: 20px;
  width: 320px;
  background: #fff;
  border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
  transition: margin-left .5s ease;
  -moz-transition: margin-left .5s ease;
  -webkit-transition: margin-left .5s ease;
  }
#cabinet .drawer.open {
  left: 50%;
  margin-left: 160px;
  }
  #cabinet .drawer.open h3 {
  margin-left: 0px;
  }

  #cabinet .drawer .handle {
    height: 40px;
    line-height: 40px;
    text-align: right;
    background-color: #ebebeb;
    border-radius: 0px 3px 0px 0px;
    -moz-border-radius: 0px 3px 0px 0px;
    -webkit-border-radius: 0px 3px 0px 0px;
    }
    #cabinet .indicator-info a.button.green {
      width: 80px;
      }
    #cabinet .floor a.button.green,
    #cabinet .drawer a.button.green {
      width: 75px;
      margin-right: 0px;
      }

#cabinet .drawer .country-summary {
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  moz-border-radius: 5px;
  webkit-border-radius: 5px;
  }

#cabinet .floor {
  padding-bottom: 10px;
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 50%;
  margin-left: 160px;
  width: 320px;
  background: #ebebeb;
  border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
  }
  #cabinet .slider.fixed {
    position: fixed;
    top: 20px;
    }
    #cabinet.front .slider.fixed {
      top: 20px;
      position: absolute;
      }
    #cabinet .slider.fixed.bottom {
      position: absolute;
      top: auto;
      bottom: 0;
      }
      #cabinet.front .slider.fixed.bottom {
        top: 20px;
        bottom: auto;
        }

.floor .search {
  padding: 20px 0px;
  background-color: #c6c6c6
  }

  .floor .search input {
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    }

  .floor .search input.textfield {
    -moz-box-shadow: inset 0px 0px 3px #000;
    -webkit-box-shadow: inset 0px 0px 3px #000;
    box-shadow: inset 0px 0px 3px #000;
    }

  .floor .search input.button {
    background-color: #fff;
    }

/**
 * Data tables
 */
table.data {
  width: 100%;
  table-layout: fixed;
  clear: left;
  }
table.data tr {
  line-height: 25px;
  }
table.data thead tr {
  text-align: left;
  }
table.data tbody tr {
  border-bottom: 1px solid #ebebeb;
  }
table.data tr.worst {
  color: #d15659;
  }

/**
 * Country summary generic styles
 * PLEASE put page specific styles in the respective pages. 
 */
.country-summary {
  height: 160px;
  float: left;
  }
  .country-summary h3{
    margin-left: 10px;
    float: left;
    }
  .country-summary .gain {
    float:left;
    text-align: center;
    width: 150px;
    height: 130px;
    padding-top: 30px;
    border-style: solid;
    border-color: #c6c6c6;
    border-width: 0px 1px 0px 1px;
    }
    .country-summary div.gain .name {
      font-weight: bold;
      }
    .country-summary div.gain .value {
      display: block;
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      }
    .country-summary div.gain .outlook {
      color: #666;
      }
    .country-summary div.gain .icon-outlook {
      display: inline-block;
      width: 15px;
      height: 15px;
      }
  .country-summary div.chart {
    float: right;
    height: 110px;
    width: 132px;
    }
    .country-summary div.chart .mini-matrix {
      margin: 15px 0px 0px 10px;
      }
  .country-summary div.vulnerability {
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    border-color: #c6c6c6;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    }
  .country-summary div.readiness {
    text-align: center;
    line-height: 25px;
    height: 20px;
    width: 125px;
    }
/**
 * Small Matrix
 */
.mini-matrix {
  position: relative;
  width: 100px;
  height: 90px;
  background:url('../images/sprite.png') 5px -465px no-repeat; 
  }
  .mini-matrix .quad {
    position: absolute;
    background: #c6c6c6;
    height: 32px;
    width: 32px;
    }
  .mini-matrix .tl {
    top: 0px; left: 23px;
    -moz-border-radius: 3px 0px 0px 0px;
    -webkit-border-radius: 3px 0px 0px 0px;
    border-radius: 3px 0px 0px 0px;
    }
  .mini-matrix .tr {
    top: 0px; left: 56px;
    -moz-border-radius: 0px 3px 0px 0px;
    -webkit-border-radius: 0px 3px 0px 0px;
    border-radius: 0px 3px 0px 0px;
    }
  .mini-matrix .br {
    top: 33px; left: 56px;
    -moz-border-radius: 0px 0px 3px 0px;
    -webkit-border-radius: 0px 0px 3px 0px;
    border-radius: 0px 0px 3px 0px;
    }
  .mini-matrix .bl {
    top: 33px; left: 23px;
    -moz-border-radius: 0px 0px 0px 3px;
    -webkit-border-radius: 0px 0px 0px 3px;
    border-radius: 0px 0px 0px 3px;
    }
  .mini-matrix .tl.active { background-color: #F77C80; } /* red */
  .mini-matrix .tr.active { background-color: #68B5DF; } /* blue */
  .mini-matrix .br.active { background-color: #94EB60; } /* green */
  .mini-matrix .bl.active { background-color: #F6CD47; } /* yellow */

  .mini-matrix .pin {
    position: absolute;
    background-color: #666;
    top: 43px;
    left: 43px;
    width: 10px;
    height: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    }

/**
 * Front page
 */
.front #map {
  height: 490px;
  width: 640px;
  }
  .front #map-indicators,
  .front #map-years {
    left: 10px;
    position: absolute;
    float: left;
    padding: 0px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(100, 100, 100, 0.7);
    }
  .front #map-indicators {
    top: 10px;
    }
  
  .front #map-years {
    bottom: 10px;
    }
  .front .map-selector li {
    float: left;
    }
    .front .map-selector li a {
      color: #fff;
      padding: 5px;
      display: block;
      }
      .front .map-selector li a:hover {
      background-color: rgba(70, 70, 70, 0.7);
      }
       .front .map-selector li:first-child {
       -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
       }
    .front .map-selector li a.selected {
      background-color: rgba(0, 0, 0, 0.7);
      }
  .front #map .wax-fullscreen {
    position: absolute;
    top: 10px;
    left: 215px;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(100, 100, 100, 0.7);
    }
    .wax-fullscreen-map {
      position:fixed !important;
      width:auto !important;
      height:auto !important;
      top:0;
      left:0;
      right:0;
      bottom:0;
      z-index:999999999999;
      }
  .wax-tooltip {
    background-color: rgba(100, 100, 100, 0.7);
    color: #fff;
    padding: 5px;
    display: block;
    position: absolute;
    top: 10px;
    right: 8px;
    }

.front #carousel {
    height: 155px;
    background-color: #ebebeb;
   }
  .front #carousel h2{
    border-bottom: 0px;
    margin-bottom: 0px;
    }
    
  .front #carousel .overview {
    display: none;
    height: 140px;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 160px;
    }

  .front #carousel .active {
    display: block;
    }
  
  .front #carousel a {font-weight: bold;}

  .front #carousel .slide1 {background:url('../images/sprite.png') -230px -1035px no-repeat; }
  .front #carousel .slide4 {background:url('../images/sprite.png') -230px -1155px no-repeat; }
  .front #carousel .slide3 {background:url('../images/sprite.png') -215px -1275px no-repeat; }
  .front #carousel .slide2 {background:url('../images/sprite.png') -230px -1415px no-repeat; }
  
   #carousel-nav {
      position: absolute;
      z-index: 100;
      top: 500px;
      right: 325px;
      width: 110px;
   }

   #carousel-nav a {
     background: transparent url('http://localhost:3000/assets/gain/images/sprite.png') no-repeat;
     background-position: -20px -660px;
     display: block;
     width: 15px;
     height: 15px;
     text-indent: -99999px;
     float: left;
     margin-left: 10px;
   }

   #carousel-nav a.activeSlide {
     background-position: 0px -660px;
   }

.front .mission {
  clear: left;
  background-color: #ebebeb;
  }

.front .featured { padding-left: 10px; }
.front .featured .country {
  float: left;
  width: 629px;
  border-color: #c6c6c6;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  margin-bottom: 15px;
  border-radius: 5px 0px 0px 5px;
  moz-border-radius: 5px 0px 0px 5px;
  webkit-border-radius: 5px 0px 0px 5px;
  }
  .front .featured .country .info {
    width: 350px;
    float: left;
    }
  .front .featured .country-summary {
    width: 249px;
    float: right;
    }
  .front .featured .country-summary .gain {
    width: 115px;
    }


/**
 * Download page
 */
.download-page {
  background-color: white;
  color: gray;
  padding: 20px;
  font-size: 15px;
  width: 640px;
}
.download-page h2 {
  font-size: 30px;
  line-height: 50px;
  width: 100%;
  border-bottom: 1px solid #c6c6c6;
}
.download-page .prose {
  padding: 10px;
}
.download-page ul {
  border: 1px solid #c6c6c6;
  padding: 10px;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
}

.download-page li {
  list-style: disc;
  padding: 5px 0 5px 0;
  margin-left: 20px;
}

.download-page a.download-icon {
   background-color: #e6e6e6;
   display: block;
   font-size: 20px;
   font-weight: bold;
   padding: 15px 0 15px 100px;
   margin: 20px 0 10px;
   color: #46ab1a;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   text-decoration: none;
   border-bottom: 1px solid #999;
}
.download-page .timestamp {
  font-size: 14px;
  float: right;
}

.download-page a.download-icon:hover {
   background-color: #eee;
   border-bottom: 1px solid #aaa;
}

/**
 * Data tables
 */
table.data {
  background: #fff;
  }
  /* full page tables */
  table.data.full {
    margin-bottom: 45px;
    }
  
table.data thead {
  border-bottom: 1px solid #c6c6c6;
}

table.data tbody tr.active {
  cursor: pointer;
  background:#ebebeb;
  }

table.data tbody tr:hover {
  cursor: pointer;
  background:#f5f5f5;
}

table.data tbody tr.active:hover {
  cursor: pointer;
  background:#ebebeb;
}
/**
 * Country pages
 */
.country-profile {
  background-color: white;
  }

.country-profile div.prose {
   clear: both;
 }

.country-profile p.label {
 padding: 0;
}

.country-profile .country-summary div.gain .name {
 font-weight: bold;
}
.country-profile .country-summary div.gain .value {
 display: block;
 font-weight: bold;
 font-size: 48px;
 line-height: 42px;
}

.country-summary div.gain {
 padding-top: 35px;
 height: 125px;
 }
.country-summary div.gain .outlook {
      color: #666;
      }

.country-profile .tab-content {
  background-color: #fff;
  }
.country-profile tbody tr {
  border-bottom: 1px solid #ebebeb;
  }
.country-profile tr.index {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #c6c6c6;
  line-height: 40px;
  }

.country-profile tr.section {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #c6c6c6;
  line-height: 40px;
  }
.country-profile th.name,
.country-profile td.name {
  width: 360px;
  padding-left: 15px;
  }
.country-profile td.graph div.placeholder {
  height: 20px;
  width: 80px;
  margin-top: 5px;
  }
.country-profile div.background-info {
  width: 290px;
  padding-bottom: 15px;
  float: left;
  }
.country-profile .country-summary {
  height: 160px;
  border-style: solid;
  border-color: #c6c6c6;
  border-width: 1px 0px 1px 1px;
  border-radius: 5px 0px 0px 5px;
  margin: 0 0 15px 15px;
  }
  .country-profile .country-summary {
    border-left: 0;
    }
  .country-profile .country-summary .chart {
    float: left;
    }
  .country-profile .country-summary .map {
    border-left:1px solid #c6c6c6;
    float: right;
    }
.country-profile .details,
.country-profile .rankings {
  background-color: #ebebeb;
  }
.country-profile .rankings {
  padding: 0 0 20px 0px;
  font-size: 11px;
  }

  .country-profile div.ranking-history-wrapper {
    margin-left: 10px;
    border-width: 1px 0px 1px 1px;
    border-color: #c6c6c6;
    border-style: solid;
    -moz-border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
    }
  .country-profile table.ranking-history {
    width: 629px;
    background-color: transparent;
    }
  .country-profile table.ranking-history th.label {
    border-right: 1px solid #c6c6c6;
    }
  .country-profile table.ranking-history thead tr {
    border-bottom: 1px solid #c6c6c6;
    }
  .country-profile table.ranking-history tbody tr {
    border-bottom: 0px;
    }
  .country-profile table.ranking-history th,
  .country-profile table.ranking-history td {
    padding: 5px 0;
    text-align: center;
    }
  .country-profile .rankings tr:hover {
    background-color: #EBEBEB;
    cursor: default;
    }

.rank-number {
  width: 22px;
  line-height: 19px;
  text-align: center;
  background-color: #abd7ee;
  padding: 0 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  }
  .ranking-history .rank-number {
    margin: 0 auto;
    }
.country-profile .rankings table tr th.label {
  border-right: 1px solid #c6c6c6;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  width: 80px;
  text-align: left;
  padding-left: 10px;
}

/**
 * Country page sector graphs
 */
.country-sector-graph {
  margin: 10px 15px 0 0;
  width: 80px;
  height: 10px;
  overflow: hidden;
  background-color: #ccc;
  float: right;
  }
  .drawer .country-sector-graph {
    float: none;
    margin: 0 0 10px 0;
    width: 100%;
    position: relative
  }
  .country-sector-graph span {
    height: 10px;
    margin-left: -1px;
    border-left: 1px solid #fff;
    display: block;
    float: left;
    /*border-left: 1px solid #fff;
    border-right: 1px solid #fff;*/
  }
  .country-sector-graph .hilite {
    background-color: #8AD35E;
  }
  #indicator-vulnerability .country-sector-graph,
  #indicator-readiness .country-sector-graph {
    background-color: #8AD35E;
  }
  .country-sector-graph .info {
    /*display:none;*/
  }
  .country-sector-graph .info.show {
    display:block;
  }

.country-sector-graph .bar label {
  line-height: 18px;
  color: white;
  display: none;
  width: 600px;
  position: absolute;
  top: 25px;
  left: 0;
  font-size: 16px;
  background-color: #1A1A1A;
  }
.country-sector-graph .bar:hover label {
  display: block;
  z-index: 999999;
  }

.drawer .content .chart {
  padding-bottom: 15px;
  }
  .drawer .content .graph {
    width: 285px;
    height: 150px;
    }
.drawer .content .gain {
  border-left: 0;
  }
.drawer .country-info {
  padding-bottom: 15px;
  }

/* CountryDrawer._ styling */
.drawer .indicator-time,
.drawer .source,
.drawer .similar-countries {
  border-top: 1px solid #ccc;
  }
  .drawer .similar-countries {
    height: 175px;
    }
  .drawer .composition {
    height: 90px;
    }
.drawer .source ul {
  padding-bottom: 15px;
  }
.drawer .source ul li {
  margin: 0 5px;
  list-style: disc inside;
  }
.drawer table.similar {
  width: 100%;
  table-layout: fixed;
  }
  .drawer table.similar th {
    width: 50%;
    }
  .drawer table.similar td {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ddd;
    }
    .drawer table.similar .nowrap {
      width: 130px;
      }
  .drawer table.similar td.country {
    border-right: 1px solid #ddd;
    }
  .drawer table.similar th {
    padding-top: 15px;
    padding-bottom: 3px;
    font-weight: normal;
    font-style: italic;
    text-align: left;
    border-bottom: 1px solid #aaa;
    }
.drawer .chart .legend {
  float: right;
  }
.drawer .chart .legend .legendLabel {
  font-size: 12px;
  vertical-align: middle;
  padding-left: 5px;
  }
.drawer .chart .legend .legendColorBox {
  vertical-align:middle;
  padding-left: 10px;
  }
.floor .correction-control {
  border-top: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 15px;
  }
  .floor .correction-control p {
    font-style: italic;
    }
  .floor .correction-control a {
    padding: 10px;
    line-height: 10px;
    color: #fff;
    background: #A8A8A8;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    }
  .floor .correction-control a:hover {
  background: #8C8C8C;
  }

/** 
 * Rankings page
 */
.top .ranking {background-color: #ebebeb;}

.ranking p.label {
 position: absolute;
 left: 430px;
 top: 85px;
 width: 180px;
 line-height: 120%;
 text-align: right;
 }

.ranking thead tr th a {
  padding-right: 20px;
  height: 10px;
}

.ranking thead tr th a:hover {
  text-decoration: none;
  color: #8C8C8C;
  }
.ranking thead tr th a.rank{
background: url('../images/sprite.png') 35px -370px;
}

.ranking thead tr th a.sort.label.rank.activeSort{
background: url('../images/sprite.png') 223px -412px;
}

.ranking thead tr th a.alpha{
background: url('../images/sprite.png') 50px -370px;
}

.ranking thead tr th a.sort.label.alpha.activeSort{
background: url('../images/sprite.png') 239px -412px;
}

.ranking thead tr th a.income{
background: url('../images/sprite.png') 82px -370px;
}

.ranking thead tr th a.sort.label.income.activeSort{
background: url('../images/sprite.png') 271px -412px;
}

.ranking p.label: 
.ranking {
  background-color: #ebebeb;
  }
.ranking table.data th.rank {
  width: 60px;
  }
.ranking table.data th.income {
  width: 130px;
  }
.ranking table.data th.index {
  width: 90px;
  }
.ranking table.data th,
.ranking table.data td {
  padding: 0 15px;
  }
  .ranking table.data th.score,
  .ranking table.data td.score {
    width: 35px;
    }
  .ranking table.data th.country,
  .ranking table.data td.country {
    padding: 0 0 0 15px;
    }
.ranking table.data .icon-outlook {
  float: left;
  margin-top: 5px;
  }
.ranking .tab-wrapper .tab-wrapper {
  height: 20px;
  }

/**
 * Featured ranking, front page
 */
.front .ranking table.data {
  width: 50%;
  float: left;
  clear: none;
  table-layout: auto;
  }
  .front .ranking table.data th {
    font-weight: normal;
    font-style: italic;
  }
  .front .ranking table.data tr:hover {
    background: transparent
  }
  .front .ranking .rank-number {
    float: left;
    margin: 3px 10px 0px 0px
  }
  .front .ranking .ranktop .rank-number {
    background-color: #68B5DF;
  }
  .front .ranking .rankbottom .rank-number {
    background-color: #FD7A7D;
  }


/**
 * Matrix section
 */
.top .matrix {
  height: 675px;
  width: 640px;
  background: url('../images/matrix_placeholder.png');
  }

/**
 * Bones-admin : popups.
 */

.AdminPopup .attribute .description {
  color: #999;
  margin: 5px 0;
  font-size: 11px;
  }
.AdminPopup .attribute input {
  width: 400px;
  }
.AdminPopup .attribute .path-prefix {
  padding-top: 2px;
  padding-right: 5px;
  float: left;
  }
.AdminPopup .attribute.id input {
  width: 340px;
  }
#bonesAdminPopup .AdminPopup .buttons {
  padding: 15px 20px;
  }

/** About section **/

/*** About section navigation*/
#about-nav-container { 
  width: 200px;
  }
#about-nav-container ul {
  padding: 15px 0 0 0;
  list-style-type: none;
  font-family: 'AlternateGothicLTNo3Regular',"HelveticaNeueBoldCondensed","HelveticaNeue-Bold-Condensed","Arial Narrow","Arial",sans-serif;
  text-transform: uppercase;
  }

#about-nav-container a {
  font-size: 12px; 
  display: block;
  padding: 10px 10px 10px 40px;
  margin-bottom: 10px;
  width: 230px;
  background-color: transparent;
  background-image: url('../images/sprite.png');
  background-repeat: no-repeat;
  }

  #about-nav-container a:link,
  #about-nav a:visited {
    text-decoration: none;
    }

  #about-nav-container a.nav-overview {background-position: 10px -913px;}
  #about-nav-container a.nav-methodology {background-position: 10px -950px;}
  #about-nav-container a.nav-matrix {background-position: 10px -983px;}
  #about-nav-container a.nav-consultation {background-position: 10px -1017px;}

  #about-nav-container a:hover,
  #about-nav-container a:active,
  #about-nav-container a.active {
    background-color: #fff;
    color: #434343;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    }

/*** Error Page ***/
.error-page {
  padding-top: 150px;
  height: 300px;
  width: 640px;
  }
  .error-page h2 {
    color: #fff;
    text-align: center;
    border-bottom: 0;
    padding: 0 0 20px 0;
    font-size: 135px;
    line-height: 60px;
  }
  .error-page .message {
    font-size: 35px;
    color: white;
    text-align: center;
  }
  .error-page a {
    display: block;
    color: #1d354c;
    text-align: center;
    margin: 20px auto 0 auto;
    background-color: #8AD35E;
    height: 20px;
    width: 160px;
    padding: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  .error-page a:hover {
    background-color: #94eb60;
    }

/*-----------------------
  Markup free clearing
  Details: http://perishablepress.com/press/2009/12/06/new-clearfix-hack
-------------------------*/
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */
